<h1>マイページ</h1>

<% if current_user != @user %>
  <%= render 'info', user: @user %>
<% end %>

<table>
  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td>フォロー数：<%= @user.followings.count %></td>
      <td>フォロワー数：<%= @user.followers.count %></td>
    </tr>
  </tbody>
</table>